body {
    font-family: "Roboto Slab", serif;
    font-size: .9rem;
}

#result {
    min-height: 150px;
    margin: 10px 0;
    padding: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    background-color: aquamarine;
}

#result .img-wrapper {
    width: 150px;
    height: 150px;
    /*object-fit: cover;*/
    /*gap: 10px;*/
    overflow: hidden;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.todo-list ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.todo-list ul>li {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}

.todo-list ul>li button {
    margin: 5px 0;
}

.todo-list ul>li textarea {
    resize: none;
}